<%#= render "shared/header" %>
  <div class="contents row">
    <% @infos.each do |info| %>
      <div class="content_post" style="background-image: url(<%= info.image %>);">
        <p><%= info.text %></p>
        <span class="name">
          <%= info.fish_name %>
        </span>
      </div>
    <% end %>
  </div>
<%#= render "shared/footer" %>